html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  font-weight: normal;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(magnus-2051.png);
  font-family: 'Josefin Sans', sans-serif;

}

.clear { clear: both; }

.container {
  width: 960px;
  margin: 30px auto;
  padding: 20px 20px 30px 20px;
  background-color: #BAD6F3;
  color: #06082B;
}

h1 {
  text-align: center;
  font-weight: 700;
  margin:15px 0;
}

#conway-grid {
  margin: 0 auto;
}

.conway-cell {
  float:left;
  width: 15px;
  height: 15px;
  border: 1px solid #06082B;
  margin: 1px;
  cursor: pointer;
  background-color: #F1F1F3;
}

.prev-live-cell {
  background-color: #BCB2EC;
}

.live-cell {
  background-color: #A65B96 !important;
}



#start-game, #reset-game {
  display: none;
}

